*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.main_search {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 582px;
    height: 44px;
    padding: 10px;
    border: 2px solid #022;
    border-radius: 200px;
    
}
.section_search input {
   width: 100%;
   
   outline: 0;
   margin-left: 5px;
   
   
}

.section_search {
    
    width: 100%;
    display: flex;
    justify-self: flex-end;
    justify-content: flex-start;

}


.lupa {
    
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.input_field {
    border: 0;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px; 
     
}
.itens_search_lupa{
    max-width: 20px;
    max-height: 20px;
    
}

.header_section1{
    display: flex;
    align-items: center;
    flex: 2;
}

.header_section2 ul {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo_google {
    width: 90px;
    height: 32px;
    object-fit: cover;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 4px;
    
}
.itens_search {
    flex: 2;
}



header ul li {
    margin-left: 13px;
    list-style: none;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;   
}
.options ul {
    width: 100%;
   
}

ul {
    margin: 0%;;
}
li {
    margin: 0px;
}
li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
}

.block_team:hover {
    box-shadow: 0px 0px 30px #000;
}
tr td {
    padding: 0;
    margin: 0;
    
}
tr {

    line-height: 0;
}
.block {
    width: 16px;
    height: 16px;
    
    
}
.block_style {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
}

li img {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    
}
/* options */
.container {
   margin-left: 175px;
}

.options ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}
.options ul {
    max-width: 538px;
}
.inner {
    display: flex;
    flex-direction: column;
    max-width: 570px;
   
}
.results {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: justify;
    margin-top: 20px;

}
.results_title {
    color: #00F;
    font-size: 20px;
}
.results_desc {
    margin-top: 10px;
}
.results a {
    text-decoration: none;
    
}

/* responsividade */

@media (max-width:748px ){
    .container {
        margin: 0;
    }
    header {
        padding: 20px 0px 20px 0px;
    }
    .header_section2 ul {
        padding: 0;
    }
    .inner {
        padding-right: 20px;
    }
}
