*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.principal{
    display: flex;
    justify-content: center;
    
}
.divisao {
    display: flex;
    justify-content: center;
    width: 1300px;
    

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    background-color: #FFF;
}
.header_title {
    font-size: 80px;
    font-family: 'Great Vibes';
    font-weight: bold;
    text-shadow: 0px 0px 15px #888;
    word-spacing: 30px;  
}
.header_foto {
    width: 300px;
    height: 100px;
    margin-right: 5px;
    background-image: url('../images/img2.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
article {
    display: flex;
    justify-content: center;
    position: relative;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.container {
    display: flex;
    width: calc(100% - 100px);
    margin-bottom: 30px;
  
      
}
.container .tribute_foto img {
    object-fit: cover;
    width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}
.tribute_foto, .tribute_body {
    
    margin-right: 10px;
}

.tribute_body {
    display: flex;
    width: 100%;
    margin-top: -12px;
  
    
   
}
.tribute_title {
    font-size: 50px;
    align-self: center;
    text-shadow: 0px 0px 15px #AAA;
    color: black;
    padding-bottom: 20px;
}
.tribute_desc {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align:left;
    word-spacing: 10px;
    line-height: 30px;
    margin-bottom: 20px;
    
}
.tribute_desc ul {
    padding: 0;
    margin: 20px;
}
.album {
  
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.bar {
    text-align: center;
    font-size: 60px;
    flex: 1;
    height: 20px;
    font-family: 'Great vibes';
    font-size: 50px;


}
.fotos {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;


}
.picture {
    flex: 1;
  
}
.picture img {
    width: 100% ;
    object-fit: fill;
    height: 400px;
    padding: auto;
    margin-bottom: -5px;
    padding: 0;
    
    
}

footer {
    background-color: black;
    height: 200px;
}
.copy {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FFF;
}
@media (max-width:839px){
    .header_foto {
        width: 160px;
        height: 50px;
        margin-top: 10px;
    }
    .header_title{
        font-size: 50px;
    }
    header {
        flex-direction: column;
        
    }
    
    .container {
        flex-direction: column;
    }
    .container .fotos {
        flex-direction: column;
    }
    
    .tribute_body {
        
        margin-top: 12px;
      
        
       
    }
    .picture img {
        width: 100% ;
        object-fit: fill;
        height: auto;
        margin-bottom: -5px;
        padding: 0;
        
        
    }
}



