*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body {
    font-family: 'Monteserrat',Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header {
    max-width: 1140px;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
}
.logo {
    width: 100px;   
}
.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.menu ul, .menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #000;
}
.menu li a:hover, .menu .active a  {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

/* banner */

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
/* criando o slideshow */
.banner .sliders {
    width: 1000vw;
    height: 100%;
    
}
.banner .slide {
    width:100vw;
    height: 100%;
    display: inline-block;
    background-color: rgb(0,0,0,0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner a {
    display: block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px;
    
}
/* slider-pointer */

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}

/* secttion default */


.default {
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight:600 ;
}
.default .section-title {
    font-size: 20px;
    
}
.default .section-desc {
    font-size: 12px;
    color:#CCC ;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
    
}
.default.light {
    background-color: #F7F7F7;
}
.default.light .section-title, 
.default.light .section-body {
    color: #000;
}
.default.dark {
    background-color: #000;

}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}
.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px;
}













/* CSS DE AREAS ESPECÍFICAS */

/* about us */
.section-aboutus{
    display: flex;
    
   
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--right{
   width: 500px; 
   text-align: center;
}
.section-aboutus--right img {
    object-fit: cover;
    
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/* services */
.section-services {
    display: flex;
   
}

.section-service {
    flex: 1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
}
.section-service:last-child {
    border-right: 1px solid #333;
}

.section-service h4 {
    margin-top:20px ;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-service img {
    width: 59px;
    height: 59px;
}

/* projects */


.section-projects--filters {
   border: 1px solid #999;
   background-color: #EEE; 
   border-radius: 30px;
   margin: auto;
   padding: 0px 20px;
   min-height: 40px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
    display: inline-block;
    
    
}
.section-projects--filters li {
   
    margin-right: -6px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    border-bottom: 3px solid #EEE;
    color: #555;
    cursor: pointer;
}
.section-projects--filters li:first-child {
    border-left: 0;
}
.section-projects--filters li:hover ,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}

/* photos */
.section-photos {
    display: flex;
    flex-direction: column;
    
}
.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px; 
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img {
   width: inherit;
   height: inherit; 

}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF; 
}
.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover  .section-projects--photoinfo{
    display: flex;
    
}
.section-photos .button {
    display: flex;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px;
    min-width: 150px;
    align-self: center;
    justify-content: center;
}

/* our team */
    /* team area */
.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area {
    background-color: rgba(0,0,0,0.8);
    padding-top:50px ;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders {
    width: 1000vw;
    height: 100%;
    
}
.section-team .slide {
    width:280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

    /* sliders pointers */
.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #b28756;
}

    /* co-workers */
.section-team-avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}   
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    
}
.section-team--social {
   display: flex;
   margin-top: 20px;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #999;
    border-radius: 13px;
    width: 25px;
    height: 25px;

}
.section-team--social a:hover {
    background-color: #b28756;
}

/* our team */
    /* happy clients */

.section-body {
    
    overflow: hidden;
}

.clientreview-sliders {
    width: 300vw;
    
    display: flex;
}
.clientreview-slide {
    width: 100vw;
    

}
.clientreview-slide--inner {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.clientreview-slide--inner img {
    width: 150px;
    height: 150px;
}

.clientreview-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.clientreview-role{
    font-size: 14px;
    color: black;
    margin-top: 5px;
    font-weight: 600;
}
.clientreview-blockquote {
   margin-top: 34px;
   max-width: 730px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   
    
}
.clientreview-blockquote img{
    width: 30px;
    height: 20px;
    margin-bottom: 19px;
      
}
.sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: #b28756;
}

    /* happy-client--logos */

.default.light.lgs {
    padding: 0;   
    background-color: #FFF;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.section-logos {
    display: flex;
    margin: auto;
   

}   
.section-logos--images{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
} 
.section-logos--images img {
    width: auto;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* section-price */

.section-price {
    width: 100%;
    height: auto;
    
}
.section-price--banners {
    display: flex;
}
.section-price--banner {
    flex: 1;
    color: white;
    max-width: 255px;
    margin-left: 30px;
    background-color: #FFF;
    
}
.section-banner--area {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000; 
    padding-top: 33px;
    padding-bottom: 33px;
}
.section-banner--area h5,
.section-banner--area p {
    text-transform: uppercase;
    
   
}
.section-banner--area h5 {
    margin-bottom:10px ;
    font-weight: 600;
}
.section-banner--area--price {
    font-size: 30px;
    font-weight: bold;
    word-spacing: -5px;
    text-align: left;
   
}
.section-banner--area--month {
    font-size: 10px;
    font-weight: 600;
    color: #CCC;
    margin-top: 2px;
    margin-bottom: 23px;
    
}
.section-banner--area ul li {
    list-style: none;
    text-align: center;
    color: #555;
    font-size: 12px;
    font-weight: 600;
}

/* section premium */
.default.light.premium-color {
    background-color: #FFF;
    height: 600px;
}
.section-body.height {
    height: 100%;
}
.premium-banners {
    width: 300vw;
    display: flex;
   
    
}
.premium-banner{
    width: 100vw;
    display: flex;
    padding: 0px 65px 0px 65px;
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
   
}
.premium-banner--inner{
    width: 100%;
    max-width: 1140px;
    display: flex;
    
}

.premium-banner--photo{
    padding-right: 122px;
    
}
.premium-banner--features{
    width: 100%;
    max-width: 500px;
    height: 100%;
    
}
.premium-banner--photo img {
    width: 100%;
    min-width: 338px;
   
    
}
.banner-first--features,
.banner-second--features,
.banner-third--features{
    
    display: flex;
    margin-bottom:27px ;
  
   
}
.feature--title {
    display: flex; 
    width: 100%;
}
.feature--title h5 {
    font-size: 17px;
}
.feature--image img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.feature--head {
    padding-top: 5px;
}
.feature--title .feature--head h5{
    text-transform: uppercase;
    width: 100%;
    
}
.feature--head--desc p {
    color: #999;
    width: 100%;
}
.feature--head--desc p {
    margin-top: 15px;
    margin-bottom: 15px;

}
.feature--head--desc ul li {
    list-style: none;

}
.feature--head--desc ul{
    text-transform: uppercase;
    line-height: 25px;
    
}

.feature--head--desc ul li::before{
    content: "━";
}
.feature-button {
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
    width: 100vw;
    height: 20px;
    
    
}
.feature-button--aligns {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}












    



    




    
